</div>
<!--<footer>
    <div class="lola">
        <a href="https://www.instagram.com/succubusangor/" >
            <img src="../../../../image/87390.png"/>
        </a>
        <a href="https://www.google.com/" >
             <img src="../../../../image/pngflow.com (3).png"/>
        </a>
        <a href="https://www.youtube.com/" >
             <img src="../../../../image/pngflow.com (1).png"/>
        </a>
        <a href="https://www.facebook.com/" >
             <img src="../../../../image/pngflow.com (2).png"/>
        </a>
    <p><b>MOUNTINS AGAINST STRESS</b></p>
       <a href="index.php?route=pages/aboutus" class="footer_links"><button>ABOUT US</button></a>
       <a href="index.php?route=pages/write" class="footer_links"><button>WRITE</button></a>
        <h2>Company Company</h2>
        <p>Copyright 2019-2020.</br>
           <i>Thank you for the attention...=)
        </p>
    </div>
</footer>-->
</div>
</body>
</html>