<div class="homepage">
    <div class="home-lenta">
        <div id="userpage1" class="lentabocks">
            <div class="fotouser">
                <img src="https://lh3.googleusercontent.com/n7fFMNQq8yJ3dMPX64BW6Xt_nJepzHZcjm-k2XaXyM-XxF8N5ddQ1E9dAJ9hQTdi8YGdtn5NqyaregAbGp-eQJg"/>
            </div>
            <div class="forma">
                <textarea placeholder="Что у Вас нового?"></textarea>
                <div class="selection">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <i class="fa fa-film" aria-hidden="true"></i>
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <button type="submit">Отправить</button>
                </div>
            </div>
        </div>
        <div class="lentabocks">
            <div class="lentablock">
            <div class="fotouser">
                <img src="https://lh3.googleusercontent.com/n7fFMNQq8yJ3dMPX64BW6Xt_nJepzHZcjm-k2XaXyM-XxF8N5ddQ1E9dAJ9hQTdi8YGdtn5NqyaregAbGp-eQJg"/>
            </div>
            <div class="post">
                <div class="post-header">
                    <p>Шерон Теронcин</p>
                    <div class="edit">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <!--<div class="editpage">
                            <button>Удалить запись</button>
                            <button>Редактировать запись</button>
                            <button>Закрепить запись</button>
                            <button>Поделиться</button>
                            <button>Сохранить в закладках</button>
                        </div>-->
                    </div>
                    <h4>Подписка</h4>
                </div>
                <div class="post-body">
                    <p> Переживания провоцируют выработку кортизола гормона-катаболика,
                        который в отличии от анаболических занимается процессами разрушения.
                        Переживания провоцируют выработку кортизола гормона-катаболика,
                        который в отличии от анаболических занимается процессами разрушения.
                    </p>
                    <div class="fotopost">
                        <img src="https://avatars.mds.yandex.net/get-pdb/1683212/36b0993e-3f13-4adc-9d51-67e0257c6af5/s600"/>
                    </div>
                </div>
                <div class="like_wrap">
                    <div class="like">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <div class="eye">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <p>1355</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="comment-user-photo">
                            <img src="https://img-tv.vl.ru/fhd/f1a27787f47c9039ac05092c7385285219012c.jpg"/>
                        </div>
                        <div class="comment-user-text">
                            <p><strong>Андрей Маркевич</strong></p>
                            <p>Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.</p>
                            <span class="comment-date">3 июл 2017</span>
                            <a class="comment-answer">Ответить</a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="comment">
                        <div class="comment-user-photo">
                            <img src="https://img-tv.vl.ru/fhd/f1a27787f47c9039ac05092c7385285219012c.jpg"/>
                        </div>
                        <div class="comment-user-text">
                            <p><strong>Андрей Маркевич</strong></p>
                            <p>Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                                Переживания провоцируют выработку кортизола гормона-катаболика,
                                который в отличии от анаболических занимается процессами разрушения.
                            </p>
                            <div class="like-comment">
                                <span class="comment-date">3 июл 2017</span>
                                <a class="comment-answer">Ответить</a>
                                <p>1255</p>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="write-comment" style="padding: 10px 0px;border-top:1px solid silver;">
                    <div class="comment-user-photo" style="float: left">
                        <img src="https://img-tv.vl.ru/fhd/f1a27787f47c9039ac05092c7385285219012c.jpg"/>
                    </div>
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    <textarea placeholder="Написать комментарий..." ></textarea>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        </div>
    </div>
    <div class="recblog"></div>
    <div style="clear: both"></div>
</div>

    <form method='post' action="">
        <input type="file" name="file" value="">
        <button type="submit" name="inner">inner</button>
    </form>
    <form method="post" action="">
        <input type="text" name="user_id" placeholder="enter user id">
        <button type="submit" name="outer">outer</button>
    </form>
